<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
	<session-factory>
		<property name="dialect">
			NHibernate.Dialect.MsSql2012Dialect, NHibernate
		</property>
		<property name="connection.connection_string">
			Server=(localdb)\\MSSQLLocalDB;Database=DESA2;Trusted_Connection=True;
		</property>
		<property name="adonet.batch_size">
			100
		</property>
	</session-factory>
</hibernate-configuration>